$light: (
  --color-primary: #af85ce,
  --color-primary-hover: #8c50b9,
  --color-primary-active: #5b3478,
  --color-secondary: #c8c3cd,
  --color-secondary-hover: #a69fac,
  --color-secondary-active: #706777,
  --color-success: #4dcdc6,
  --color-success-hover: #00b8ae,
  --color-success-active: #008a83,
  --color-info: #52a5e0,
  --color-info-hover: #087fd2,
  --color-info-active: #065f9e,
  --color-warning: #ffd87f,
  --color-warning-hover: #ffc748,
  --color-warning-active: #d9a93d,
  --color-dangerous: #f78893,
  --color-dangerous-hover: #f45564,
  --color-dangerous-active: #c34450,
  --color-text: #46285d,
  --color-text-active: #ffffff,
  --color-background-body: #ffffff,
  --color-drawer-background: #faf8fc
);
$dark: (
  --color-primary: #8c50b9,
  --color-primary-hover: #af85ce,
  --color-primary-active: #d1b9e3,
  --color-secondary: #a69fac,
  --color-secondary-hover: #c8c3cd,
  --color-secondary-active: #dfdbe3,
  --color-success: #00b8ae,
  --color-success-hover: #4dcdc6,
  --color-success-active: #99e3df,
  --color-info: #087fd2,
  --color-info-hover: #52a5e0,
  --color-info-active: #cee5f6,
  --color-warning: #ffc748,
  --color-warning-hover: #ffd87f,
  --color-warning-active: #ffeec8,
  --color-dangerous: #f45564,
  --color-dangerous-hover: #f78893,
  --color-dangerous-active: #fddde0,
  --color-text: #ffffff,
  --color-text-active: #46285d,
  --color-background-body: #1a0e23,
  --color-drawer-background: #5b3478
);
